@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jersey 15';
  src: local('Jersey 15'), url('./assets/fonts/Jersey15Custom.ttf') format('truetype');
  size-adjust: 70%;
}

@font-face {
  font-family: 'Jersey 25';
  src: local('Jersey 55'), url('./assets/fonts/Jersey25Custom.ttf') format('truetype');
  size-adjust: 70%;
}

:root {
  --main-font: "Jersey 15", serif;
  --main-size: large;
  --heading-font: "Jersey 25", serif;
  --heading-weight: 400;
}

.font-alt {
  --main-font: "Lato", sans-serif;
  --main-size: normal;
  --heading-font: "Lato", sans-serif;
  --heading-weight: 700;
}

body {
  margin: 0;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  /* shape-rendering: geometricPrecision; */
  
  background-color: theme('colors.owaldron-bg');
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  font-size: var(--main-size);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width:1024px) {
  .center {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.jersey-15 {
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
}

.jersey-25 {
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: var(--heading-font);
  font-weight: var(--heading-weight);
  font-style: normal;
}


/* Use some styles from https://www.30secondsofcode.org/css/s/hover-underline-animation/ */

.hover-underline {
  display: inline-block;
  position: relative;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom center;
  transition: transform 0.5s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
